/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/09/2021, 03:13:05 PM
    Author     : David
*/
.img{
    width: 180px;
    height: 95px;
}

